.textfield-group {
    display: flex;
    contain: content;
    border-radius: 8px 0 0 0;
}
.textfield-group, .textfield-group * {
    outline: none;
}
.textfield-group > * {
    color: #424242;
    background-color: #F5F5F5;
    transition: .3s;
}
.textfield-group *:hover,
.textfield-group *:focus {
    background-color: white;
    border-color: #616161;
}

/* Fixed */
.textfield-group.fixed {
    width: calc(100% - 6rem);
}
.textfield-group.fixed * {
    margin-bottom: 0 !important;
}
/* Fixed End */

/* Selector */
.selector {
    color: #424242;
    font-size: 16px;
    line-height: 20px;
    padding: 6px 8px;
    border: 0;
    -webkit-border-radius: 8px 0 0 0;
    border-bottom: solid 2px #bdbdbd;
    appearance: none;
    cursor: pointer;
}
.disabled:not(.fixed) .selector {
    height: 0;
    padding: 0;
    margin: 0;
    border-width: 0;
}
/* Selector End */

/* Textfield */
.textfield {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 6px 4px;
    border-left: solid 2px #bdbdbd;
    border-bottom: solid 2px #bdbdbd;
    transition: .3s;
}
.disabled:not(.fixed) .textfield {
    height: 0;
    padding: 0;
    margin: 0;
    color: white;
    border-width: 0;
}
.fixed .textfield {
    overflow-y: auto;
}
/* Textfield End */

/* Textfield Closer Button */
.textfield-closer {
    border-bottom: solid 2px #bdbdbd;
    line-height: 32px;
}
.fixed .textfield-closer {
    line-height: 54px;
}
.disabled:not(.fixed) .textfield-closer {
    margin: 0;
    padding: 0;
    border-width: 0;
}

.disabled:not(.fixed) .textfield-closer i {
    height: 0;
    opacity: 0;
}
/* Textfield Closer Button End */